# Backend API Base URL
NEXT_PUBLIC_API_URL="http://localhost:8000"

# Firebase Client Configuration (Firebase Console -> Project Settings -> General -> Your Apps)
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="chatgpt-66492.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="chatgpt-66492"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="chatgpt-66492.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
